img {
  width: 40px;
}

.block {
  margin: 10px 0;
  padding: 10px;
  width: 20%;
  background-color: darkseagreen;
  border-radius: 12px;
  box-shadow: 0 0 4px cadetblue;
}

.itemPost {
  display: flex;
}

.post {
  max-width: 150px;
  overflow: hidden;
  align-self: center;
  padding: 2px;
  background-color: lemonchiffon;
  border-radius: 6px;
  box-shadow: 0 0 8px darkslategray;
}

span {
  display: block;
  text-align: right;
}