.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  border-right: 1px solid rgba(169, 169, 169, 0.33);
  padding-left: 10px;
}

.messagesItems {
  padding: 0 10px;
  height: 100%;
}

.active {
  color: gold;
}

.message {
  position: relative;
  min-width: 150px;
  max-width: 45%;
  margin: 8px 0;
  padding: 2px 5px;
  border-radius: 6px;
  background-color: rgba(143, 188, 143, 0.71);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.message:nth-child(odd)::before {
  content: '';
  position: absolute;
  left: -12px;
  top: 5px;
  border: 4px solid transparent;
  border-right: 8px solid rgba(143, 188, 143, 0.71);
}

.message:nth-child(even) {
  margin-left: auto;
  background-color: rgba(143, 188, 143, 0.42);
  text-align: right;
}

.message:nth-child(even)::after {
  content: '';
  position: absolute;
  right: -12px;
  top: 6px;
  border: 4px solid transparent;
  border-left: 8px solid rgba(143, 188, 143, 0.42);
}

.dialogArea {
  display: block;
  margin: 20px 0 10px 0;
  width: 100%;
  border-radius: 4px;
  border: 1px solid lightblue;
  box-shadow: 0 0 8px black;
  resize: none;
}

.btnDialogSend {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
  margin-bottom: 5px;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
}

.btnDialogSend:hover {
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.btnDialogSend:active {
  background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.windowMessage {
  margin: 10px 0;
}

.inputMessage {
  max-width: 150px;
  min-height: 20px;
  max-height: 100px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #d3d9de;
}